body {
color : #545454;
font-size : 17px;
font-family : Arial;
max-width : 100%;
margin : auto;
margin-top:0;
}
a:link, a:active, a:visited {
color : #1f8ba0;
text-decoration : none;
}
a:hover, a:focus {
text-decoration : underline;
}
.title {
background-color : #e5eff0;
background-image : url("images/title.gif");
background-repeat : repeat-x;
background-position : 50% bottom;
border : 1px solid #dbe5e6;
padding:3px;
}

.title2 {
background-color : #eef8e0;
background-image : url("images/title2.gif");
background-repeat : repeat-x;
background-position : 50% bottom;
border : 1px solid #e1ecd1;
padding:3px;
}
.content {
background-image : url("images/content.gif");
background-repeat : repeat-x;
background-position : 50% top;
border : 1px solid #ececec;
padding:9px;
white-space: pre-wrap;
word-wrap:break-word;
}
.footer {
color : #fff;
background-color : #32b6ce;
background-image : url("images/footer.gif");
background-repeat : no-repeat;
background-position : right 50%;
padding:3px;
}
.footer a{
color:white;
}
.pages {
-webkit-border-radius: 0.3em;
border-radius: 0.3em;
padding: 3px;
background-image: url("images/grey1.png");
}